@model Produto
@using System.Globalization;
@using permita_se.Data.Enum;

@{
    ViewData["Title"] = "Detalhes do Produto";
    var imagemPath = "~/img/" + (Model.ImagemUrl ?? "no-image.png");
}

<div class="row">
        <div class="col-md-8 offset-2">
            <div class="card mb-3" style="background:#f6eff6; max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-secondary">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @Model.Nome
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <img src="@imagemPath" asp-append-version="true" width="100%" alt="@Model.Nome">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">@Model.Descricao</p>
                            <p class="card-text"><b>Categoria: </b>@Model.Categoria.Nome
                                <a></a>
                            </p>
                            <p class="card-text ">
                                <b>Status: </b>
                                <span class="badge bg-success text-white">@Model.ProdutoStatus</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                            <a class="btn btn-outline-primary float-right @((ProdutoStatus.Indisponível == Model.ProdutoStatus) ? "disabled" : "")" asp-action="Index">Voltar</a>
                            <a class="btn btn-success text-white" asp-controller="Pedidos" asp-action="AdicionarItem" asp-route-id="@Model.Id">
                                <i class="bi bi-cart-plus"></i> Carrinho (Preço @Model.Preco.ToString("c", CultureInfo.CreateSpecificCulture("pt-BR")))
                            </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>