@model IEnumerable<Produto>
@using System.Globalization;
@using permita_se.Data.Enum;

@{
    ViewData["Title"] = "Produtos";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="background:#f6eff6; max-width: 400px">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-secondary">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Nome
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Editar" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                        <a class="text-white float-right" asp-action="Deletar" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                                    }
                                  
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <img src="~/img/@item.ImagemUrl" height="300px" width="100%" max-width="370px" alt="@item.Nome" class="align-content-center">
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <p class="card-text" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">@item.Descricao</p>
                            <p class="card-text"><b>Categoria: </b>@item.Categoria.Nome</p>
                            <p class="card-text">                            
                                @if (item.ProdutoStatus == ProdutoStatus.Disponível)
                                {
                                    <span class="badge bg-success text-white" style="font-size: 0.88em">@item.ProdutoStatus</span>
                                }
                                else                             
                                {
                                    <span class="badge bg-danger text-white" style="font-size: 0.88em">@item.ProdutoStatus</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Detalhes" asp-route-id="@item.Id" style="font-size: 0.9em">
                                    <i class="bi bi-eye-fill"></i> Detalhes</a>
                                <a class="btn btn-success text-white @((ProdutoStatus.Indisponível == item.ProdutoStatus) ? "disabled" : "")" asp-controller="Pedidos" asp-action="AddItemAoCarrinho" asp-route-id="@item.Id" style="font-size: 0.9em">
                                    <i class="bi bi-cart-plus"></i> Carrinho (Preço @item.Preco.ToString("c", CultureInfo.CreateSpecificCulture("pt-BR")))
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

 @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="position: fixed; right: 25px; bottom: 65px;" class="text-white">
        <a asp-controller="Produtos" asp-action="Criar" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Adicionar
        </a>
    </div>
  }