@model IEnumerable<Produto>



@{
    ViewData["Title"] = "Produtos";
}


<body>
    <style>
        * {
            font-family: effra,Helvetica,Arial,sans-serif;
            margin: 0;
        }

    </style>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-xs-6 border-primary mb-3" style="background-color: #e5dde6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-secondary">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        @item.Nome
                                        <a class="text-center float-right"><i class="bi bi-pencil-square"></i></a>
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@item.ImagemUrl" width="100%" alt="@item.Nome">
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <p class="card-text">@item.Descricao</p>
                                <p class="card-text"><b>Categoria: </b>@item.Categoria.Nome</p>
                                <p class="card-text ">
                                    <b>Status: </b>
                                    <span class="badge bg-success text-white">DISPONÍVEL</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary float-right"><i class="bi bi-eye-fill"></i> Detalhes</a>
                                    <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Carrinho (Preço @item.Preco.ToString("c"))</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>



</body>

