@model IEnumerable<Usuario>

@{
    ViewData["Title"] = "Lista de todos os usuarios";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Lista de todos os usuarios</h4>
        </p>

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.Telefone)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Nome + " " + item.Sobrenome)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                </tr>
                }
            </tbody>

        </table>

    </div>
</div>